{%load static%}
<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Leaf Now | One platform to sell, buy and donate plants</title>
    <link rel="stylesheet" href="{%static 'css/styles.css' %}">
    <link rel="icon" href="{%static 'images/fav.jpg' %}">
    <!-- CSS only -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
  </head>
  <body>
     <img class="home" src="{%static 'images/home.jpg' %}" alt="">
     <div class="div36">
       <img class="nice2"src="{%static 'images/nice2.jpg' %}" alt="">
     </div>
     <div class="div33">
       <img class="nice" src="{%static 'images/nice.jpg' %}" alt="">
     </div>
     <div class="div35">
       <p class="p0"> Leafnow is an initiative to encourage gardening to build a greener society, something our next generation shouldn’t be deprived off.We aim to bring in a platform that can connect plant enthusiasts and help them exchange, buy, sell and donate plants or seeds as part of the green initiative.</p>
       <a class="p01" href="/login">login/Signup</a>
       <p class="p001">To explore Leafnow!!</p>
     </div>
  </body>
</html>
