{%load static%}
<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Leaf Now | One platform to sell, buy and donate plants</title>
    <link rel="stylesheet" href="{%static 'css/styles.css'%}">
    <link rel="icon" href="{%static 'images/fav.jpg' %}">
    <!-- CSS only -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
  </head>
  <body>
    <nav>
      <ul class="ul">
        <li><a href="{%url 'logout1' %}">Logout</a></li>
        <li class="li"><a href="/buy">Buy</a></li>
        <li><a href="/sell">Sell</a></li>
        <li><a href="/donate">Donate</a></li>
        <li><a href="/aboutus">About Us</a></li>
        <li><a href="/cart" class="bull"><img class="csrt" src="{%static 'images/cart.jpg' %}" width="40px" height="40px" alt=""></a></li>
      </ul>
    </nav>
    <div class="div45">
      <a class="leafnow" href="{%url 'home' %}"><img src="{%static 'images/le.jpg' %}" alt="logo" style="height:50px"></a>
    </div>
    <img class="ten"src="{%static 'images/nine.jpg' %}" alt="">
    <div class="div28">
      <h1 class="hm">Sell your plants and seeds on leafnow</h1>
      <p>Your green thumb could be worth more than you think. if you've ever thought of selling plants and seeds online now is the time.</p>
      <a class="ha"href="{%url 'fm1' %}">Start selling</a>
      <p class="hb">How to sell your plants on leafnow?</p>
      <p>Register as a Leafnow Seller</p>
      <p>Fill the requirments to sell on leafnow</p>
      <p>List your plants and seeds</p>
      <p>Delivering your plants ans seeds</p>
      <p>Get paid for your sales</p>
    </div>
    <div class="div27">
      <img class="nine"src="{%static 'images/ten.jpg' %}" alt="" />
    </div>
  </body>
</html>
